@using Microsoft.AspNetCore.Blazor.Browser.Interop

<div class="col-md-3">
    <header class="boardColumn__header">
        <h1 class="boardColumn__title">
            @BoardColumn.Title
            <a href="/createUserTask" data-toggle="tooltip" title="Tooltip on top" id="idname" ref="addElemtn">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </h1>
    </header>
    <div class="boardColumn__taskList">
        @foreach (var task in Appstate.TaskList.Where(column => column.BoardColumnId == BoardColumn.ID))
        {
            <_UserTask Task="@task"></_UserTask>
        }
    </div>
</div>

@functions{
    [Parameter]
    private BoardColumn BoardColumn { get; set; }
    private ElementRef addElemtn;
    protected override void OnAfterRender()
    {
        base.OnAfterRender();
        RegisteredFunction.Invoke<object>("displayTooltip", addElemtn);
    }
}