body {
    background: white;
}

.navbar-default {
    background-color: #0078d7;
    border-color: #077187;
}

    .navbar-default .navbar-brand {
        color: #ecf0f1;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #faf8d4;
        }

    .navbar-default .navbar-text {
        color: #ecf0f1;
    }

    .navbar-default .navbar-nav > li > a {
        color: #ecf0f1;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #faf8d4;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #faf8d4;
        background-color: #077187;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #faf8d4;
        background-color: #077187;
    }

    .navbar-default .navbar-toggle {
        border-color: #077187;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #077187;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #ecf0f1;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #ecf0f1;
    }

    .navbar-default .navbar-link {
        color: #ecf0f1;
    }

        .navbar-default .navbar-link:hover {
            color: #faf8d4;
        }



.app_footer {
    text-align: center;
    margin-top: 35px;
    font-family: "Lato", helvetica, Arial, Sans-serif;
    padding-top: 10px;
}

/* .board {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 15px;
    min-width: 1000px;
    width: 100%;
    margin: 0 auto;
    align-content: strech;
} */

.boardColumn {
    font-family: "Lato", helvetica, Arial, Sans-serif;
    /* flex-basis: 300px;
    flex-grow: 1; */
    /* margin: 0 5px; */
    border: double;
}

    .boardColumn .boardColumn__header {
        padding: 5px;
        margin-bottom: 10px;
        border-bottom: 5px solid #f5f5f5;
    }

    .boardColumn .boardColumn__title {
        font-size: 16px !important;
        text-transform: capitalize;
        font-weight: 600;
        margin: 0;
        color: #333;
        line-height: 1.5;
        font-weight: normal;
        margin: 0 5px 0 0;
    }

.boardColumn__header .boardColumn__title {
    font-size: 25px !important;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0;
    color: #333;
    line-height: 1.5;
    font-weight: normal;
    margin: 0 5px 0 0;
    text-align: center;
}

.boardColumn .boardColumn__taskList {
    background: #f5f5f5;
    padding: 20px 10px;
    min-height: 600px;
    height: 600px;
    max-height: 600px;
    overflow-y: auto;
}

.boardColumn.boardColumn--DONE .taskCard {
    opacity: 0.7;
}

    .boardColumn.boardColumn--DONE .taskCard .taskCard__title {
        text-decoration: line-through;
    }


/* Task */

.taskCard {
    font-family: "Lato", helvetica, Arial, Sans-serif;
    border: 1px solid #E0E1E2;
    border-radius: 5px;
    padding: 15px 15px 10px 15px;
    background: white;
    position: relative;
    margin-bottom: 5px;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.06);
}


    .taskCard:hover {
        cursor: pointer;
    }

    .taskCard:after {
        content: "";
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: 5px;
        width: 4px;
        background: red;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .taskCard .taskCard__title {
        margin: 0;
        color: #333;
        font-weight: 500;
        letter-spacing: 0.5px;
    }

    .taskCard .taskCard__epicLink-title {
        background: #9b59b6;
        padding: 3px 10px;
        font-size: 13px;
        border-radius: 5px;
        color: white;
    }

    .taskCard .taskCard__footer {
        display: flex;
        margin-top: 15px;
        justify-content: space-between;
        align-items: center;
    }

    .taskCard .taskCard__type {
        font-size: 12px;
        font-weight: bold;
    }

    .taskCard .taskCard__id {
        font-size: 12px;
        font-weight: 300;
        color: #CDCED0;
        margin-right: 10px;
        font-variant: small-caps;
        font-weight: 500;
    }

    .taskCard .taskCard__avatar {
        width: 20px;
        height: 20px;
        border-radius: 500px;
    }

    .taskCard .taskCard__id, .taskCard .taskCard__avatar {
        vertical-align: middle;
    }

    .taskCard.taskCard--HIGHEST:after {
        background: #e74c3c;
    }

    .taskCard.taskCard--HIGHEST .taskCard__type {
        color: #e74c3c;
    }

    .taskCard.taskCard--HIGH:after {
        background: #e67e22;
    }

    .taskCard.taskCard--HIGH .taskCard__type {
        color: #e67e22;
    }

    .taskCard.taskCard--MEDIUM:after {
        background: #f1c40f;
    }

    .taskCard.taskCard--MEDIUM .taskCard__type {
        color: #f1c40f;
    }

    .taskCard.taskCard--LOW:after {
        background: #27ae60;
    }

    .taskCard.taskCard--LOW .taskCard__type {
        color: #27ae60;
    }


@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #faf8d4;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #faf8d4;
        background-color: #077187;
    }
}


/*Legend*/
/*fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
}*/

/*Primary button*/
/*, .btn-primary:hover, .btn-primary:active, .btn-primary:visited*/
.btn-primary {
    background-color: #0078d7;
    color: #ecf0f1;
}

.text-uppercase {
    color: #0078d7;
}
